.task{
    font-family: "Lato", serif;
    color: #fff;
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-x: hidden;
    overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #01236a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #001134;
}


