

.task{
    font-family: "Lato", serif;
    color: #fff;
    margin: 0.75em;
    width: 100vw;
    height: auto;
    overflow-y: scroll;
    background-color: #01236a;
    display: flex;
    position: relative;

}


