

.button{
    font-family: "Lato", serif;
    color: #fff;
    font-weight: 300;
    padding: 0.8em;
    width: 100%;
    /*background-color: #01236a;*/
    border-radius: 25px;
    border: #01236a;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #01236a 0%, #01236a  71%, #02184b 100%)
}

.btn-grad {}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


