.searchbar{
    width: 100vw;
    background-color: rgb(180, 207, 255);
    color: #01236a;
    justify-content: space-between;
    align-content: center;
    padding: 0.4rem;
    margin: 0 auto;
    display: inline-flex;
}

.searchButton{

    color: #fff;
    padding: 0.275em;
    height: 2rem;
    border-radius: 25px;

}

.search{


}

.searchInput{
    height: 2rem;
}

.Inputbar{
    width: 75vw;
    background-color: rgb(180, 207, 255);
    color: #01236a;
    padding: 0.4rem;
    display: inline-flex;
}
.searchButton{
    width: 20vw;
    padding: 0.4rem;
}