.head{
    font-family: "Lato", serif;
    width: 100vw;
    height: auto;
    color: #fff;
    background-color: #01236a;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

.headl{
    background-color: #fff;
    padding: 0.5em;
    margin: 0.5em;
    width: 1em;
    align-items: center;
    height: 1em;
    color: #01236a;
    border-radius: 50%;

}

.headt{
font-family: Lato, "serif";
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
    padding: 0.5em;

}