
.Input{
    width: 100%;
    font-family: "Lato", serif;
    background-color: #fff;
    font-weight: normal;
    padding: 0.275em 0.275em 0.275em 1em;
    height: 2rem;
    align-content: center;
    color: #01236a;
    border-color: #01236a;
    border-radius: 25px;
transition: box-shadow 500ms;
}

.Input:focus{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.43);

}
.searchInput{
    border-color: #01236a;
    border-radius: 25px;
    height: 2rem;
}